@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.text-heading {
  font-size: 5rem;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  background-color: rgb(11, 10, 13);
  color: rgb(255, 255, 255);
}

p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

a {
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
}

.regular-text {
  font-weight: 400;
}

.medium-text {
  font-weight: 500;
}

ul {
  list-style: none;
}

.wrapper {
  padding: 0 6.25rem;
}

header {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  gap: 1rem;
}

.header-wrap {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 4.6875rem 0;
}

.navbar-item p:hover {
  color: rgb(118, 255, 106);
  cursor: pointer;
}
.navbar-item:hover .navbar-item-submenu, .navbar-item:focus .navbar-item-submenu, .navbar-item:active .navbar-item-submenu {
  display: block;
}
.navbar-item p:active {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.navbar-item-submenu {
  display: none;
  background-color: rgb(11, 10, 13);
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100%;
  padding-bottom: 5.625rem;
}
.navbar-item-submenu ul {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.875rem;
  max-height: 150px;
  margin: 0 auto;
}

.splide__slide img {
  position: relative;
  width: 100%;
  max-height: 650px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.splide__slide p {
  top: 60%;
  left: 5%;
  position: absolute;
}

.custom-arrows {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.custom-arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.faq {
  margin-top: 9.375rem;
  display: flex;
  gap: 6.25rem;
}
.faq p {
  text-transform: uppercase;
}

.accordion {
  width: 100%;
  height: 300px;
}

.accordion-item {
  padding: 1.875rem 0;
  border: 1px solid rgb(255, 255, 255);
  border-left: none;
  border-right: none;
}

.accordion-header {
  font-size: 1.5rem;
  cursor: pointer;
}

.accordion-header + .accordion-body {
  max-height: 0;
  overflow: hidden;
}

.accordion-header.shown + .accordion-body {
  max-height: 1000px;
  margin-top: 1.875rem;
  transition: max-height 0.5s ease;
}

.news {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.news-item {
  display: flex;
  flex-direction: column;
  width: calc(33% - 10px);
}
.news-item img {
  width: 100%;
  height: 264px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-item__head {
  margin-top: 1.875rem;
}

.news-item__text {
  margin-top: 0.625rem;
  font-size: 0.875rem;
}

.subscription {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  background-color: rgb(255, 255, 255);
}
.subscription p {
  color: rgb(11, 10, 13);
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 1rem;
  width: 70%;
}

.subscription-form__input {
  outline: none;
  width: calc(50% - 10px);
}
.subscription-form__input:focus {
  border-radius: 10px;
  border: 1px solid #000;
}

.subscription-form__button {
  background-color: transparent;
}
.subscription-form__button:hover, .subscription-form__button:focus {
  background-color: rgb(118, 255, 106);
  border-color: rgb(118, 255, 106);
}

.subscription-form__button, .subscription-form__input {
  padding: 0.875rem 1.25rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

footer {
  background-color: #312F35;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

.footer-description {
  width: 60%;
}

.footer-description__text {
  font-size: 0.875rem;
  margin-top: 0.625rem;
  margin-bottom: 1.5626rem;
}

.social-block {
  display: flex;
  gap: 1.875rem;
}

.footer-content-bottom {
  margin-top: 1.5625rem;
}/*# sourceMappingURL=index.css.map */